html
    head
        title SocketIO Test
    body
        h1 SocketIO Test
        p Take a look at the server console while reloading this page.
        script(src="https://code.jquery.com/jquery-1.10.2.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
        script(src="js/socket_example.js")